<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="/">
            <img src="/icons/pokeball.png" style="width: 50px;"/>
        </a>
        <a class="py-2 d-none d-md-inline-block" href="/shop">
            <img src="/icons/pokestop-1.png" style="width: 50px;"/>
            Shop
        </a>
        <a class="py-2 d-none d-md-inline-block" href="/trainers">
            <img src="/icons/player.png" style="width: 50px;"/>
            Trainers
        </a>
        <a class="py-2 d-none d-md-inline-block" href="/pokemons">
            <img src="/icons/pikachu.png" style="width: 50px;"/>
            Pokemons
        </a>
        {% if user %}
            <a class="py-2 d-none d-md-inline-block" href="/arena/{{ user }}">
        {% else %}
            <a class="py-2 d-none d-md-inline-block" href="#" disabled>
        {% endif %}
            <img src="/icons/fight.png" style="width: 50px;"/>
            Fight !
        </a>
    </div>
</nav>