{% extends '../default/base.twig' %}

{% block title %}Arena{% endblock %}

{% block row %}

    {% render '/trainers/'~trainer.name~'/arena' with {name: 'Jtwig'} %}

    <h1 class="pt-md-5">My team</h1>
    {% render '/team/'~trainer.name with {name: 'Jtwig'} %}

    <h1 class="pt-md-5">Inventaire</h1>
    {% render '/trainers/'~trainer.name~'/inventory' with {name: 'Jtwig'} %}

{% endblock %}