<h2>{{ fight.nameFighter1 }} vs {{ fight.nameFighter2 }}</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Round</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        {% for detail in details %}
            <tr>
                <th scope="row">{{ detail.round }}</th>
                <td>{{ detail.description }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>