{% extends 'default/base.twig' %}

{% block title %}Pokemon Manager{% endblock %}

{% block row %}

    <img  src="/chen2.png" class="col-md-2"/>
    <div class="row col-md-10">
        <blockquote class="blockquote">
            Right! So your name is {{ user }}!
            Your very own Pokémon legend is about to unfold!
            A world of dreams and adventures with Pokémon awaits!
            Let's go!
        </blockquote>
    </div>

{% endblock %}