{% extends '../default/base.twig' %}

{% block title %}Trainer : {{ trainer.name }} <img src="{{ trainer.picture }}" style="height: 100px;"/>{% endblock %}

{% block row %}

    {% render '/team/'~trainer.name with {name: 'Jtwig'} %}

    <h1 class="pt-md-5">Inventaire</h1>
    {% render '/trainers/'~trainer.name~'/inventory' with {name: 'Jtwig'} %}

{% endblock %}